@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

$ff-primary: 'Josefin Sans', sans-serif;
$clr-primary-400: #432a72;
$clr-primary-300: #5a3b94;
$clr-primary-200: #ddd;
$clr-primary-150: #eee;
$clr-primary-100: #fff;
$bs: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(0, 0, 0, .1);
