@import "variables";

*{
  box-sizing: border-box;
}

body{
  background-color: $clr-primary-400;
  color: $clr-primary-100;
  font-family: $ff-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form{
  width: 100%;
  max-width: 720px;
  padding-inline: 1rem;

  @media (max-width: 500px) {
    max-width: 320px;
  }

  input{
    width: 100%;
    margin-inline: auto;
    display: block;
    background-color: $clr-primary-300;
    border: none;
    border-radius: 10px;
    color: $clr-primary-100;
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: $bs;
    margin-bottom: 2rem;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: $clr-primary-200;
    }
  }
}

.card{
  max-width: 800px;
  background-color: $clr-primary-300;
  border-radius: 20px;
  box-shadow: $bs;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;

  @media (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .avatar{
    border-radius: 50%;
    border: 10px solid $clr-primary-400;
    height: 150px;
    width: 150px;
  }

  .user-info{
    color: $clr-primary-150;
    margin-left: 2rem;

    @media (max-width: 500px) {
      margin-left: 0;
      text-align: center;
    }

    h2 {
      margin-top: 0;
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
      max-width: 400px;

      li {
        display: flex;
        align-items: center;

        strong {
          font-size: .9rem;
          margin-inline: .5rem 1rem;

          @media (max-width: 500px) {
            margin-inline: .2rem .5rem;
          }
        }
      }
    }

    .repo {
      text-decoration: none;
      color: $clr-primary-100;
      background-color: $clr-primary-400;
      font-size: .7rem;
      padding: .5rem .5rem;
      margin-right: .5rem;
      margin-bottom: .5rem;
      display: inline-block;
    }
  }
}

